* {
    font-family: 'Courier New', Courier, monospace;
}

nav {
    display: flex;
    justify-content: space-between;
}

h1, h2, #intro {
    text-align: center;
    width: 50%;
}

#start-screen, #question-screen, #end-screen, #highscore-screen {
    flex-direction: column;
    align-items: center;
}

#options, #highscores {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#view-highscore {
    text-decoration: none;
    color: dodgerblue;
}

input[type="text"] {
    height: 36px;
    width: 80px;
    font-size: 16px;
    text-align: center;
    border-color: dodgerblue;
    border-radius: 8px;
}

input[type="button"], input[type="submit"] {
    background-color: dodgerblue;
    color: white;
    border-color: dodgerblue;
    border-style: solid;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    white-space: normal; 
}

input[type="button"]:hover, input[type="submit"]:hover {
    background-color: white;
    color: dodgerblue;
    cursor: pointer;
}

table {
    width: 50%;
    border-spacing: 0px;
    text-align: center;
    margin-bottom: 30px;
}

tbody tr:nth-child(odd) {
    background-color: rgba(30, 143, 255, 0.25);
}

#hr-line {
    width: 50%;
}
