* {
    font-family: 'Courier New', Courier, monospace;
}

nav {
    display: flex;
    justify-content: space-between;
}

h2, #intro {
    width: 50%;
}

#start-screen, #question-screen, #end-screen, #highscore-screen {
    flex-direction: column;
    align-items: center;
}

#options, #highscores {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#view-highscore {
    text-decoration: none;
    color: dodgerblue;
}

input[type="button"], input[type="submit"], ol {
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    margin: 5px;
}

li {
    margin: 2px;
}
